{% extends 'base.html' %}

{% block content %}
<div class="leaderboard-container">
    <h1 class="leaderboard-title">Tabla de Clasificación</h1>

    <table class="leaderboard-table">
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Puntaje Total</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td>{{ player.user.username }}</td>
                <td>{{ player.total_score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'profile' %}" class="btn back-btn">Volver a mi perfil</a>
</div>
{% endblock %}
